<?xml version="1.0"?>
<config>
    <modules>
        <Godoparsa_Shipping>
            <version>1.3</version>
        </Godoparsa_Shipping>
    </modules>
    <global>
    	<resources>
            <godoparsa_shipping_setup>
                <setup>
                    <module>Godoparsa_Shipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </godoparsa_shipping_setup>
        	<godoparsa_shipping_write>
            	<connection>
              		<use>core_write</use>
            	</connection>
       		</godoparsa_shipping_write>
        	<godoparsa_shipping_read>
            	<connection>
                	<use>core_read</use>
            	</connection>
        	</godoparsa_shipping_read>
        </resources>
        <models>
            <godoparsa_shipping>
                <class>Godoparsa_Shipping_Model</class>
            </godoparsa_shipping>
        </models>
    	<helpers>
            <godoparsa_shipping>
                <class>Godoparsa_Shipping_Helper</class>
            </godoparsa_shipping>
        </helpers>
        <blocks>
            <godoparsa_shipping>
                <class>Godoparsa_Shipping_Block</class>
            </godoparsa_shipping>
        </blocks>
        <template>
            <email>
               <carriers_godoparsa_shipping_email_template>
                   <label>99minutos</label>
                   <file>godoparsa_shipping.html</file>
                   <type>html</type>
               </carriers_godoparsa_shipping_email_template>
            </email>
        </template>
        <events>
            <sales_order_place_after>
                <observers>
                    <godoparsa_shipping_sendNotificationEmailToAdmin>
                        <class>godoparsa_shipping/observer</class>
                        <method>sendNotificationEmailToAdmin</method>
                    </godoparsa_shipping_sendNotificationEmailToAdmin>
                </observers>
            </sales_order_place_after>

            <sales_order_shipment_save_before>
                <observers>
                    <godoparsa_shipping_shippedrequest>
                        <class>godoparsa_shipping/observer</class>
                        <method>shippedrequest</method>
                    </godoparsa_shipping_shippedrequest>
                </observers>
            </sales_order_shipment_save_before>
        </events>
    </global>
    <default>
        <carriers>
            <godoparsa_shipping>
                <active>1</active>
                <sort_order>10</sort_order>
                <model>godoparsa_shipping/carrier</model>
                <title>99minutos.com</title>
                <sort_order>10</sort_order>
            </godoparsa_shipping>
        </carriers>
    </default>
</config>